<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vibe.system.mapper.SysNoticeTemplateMapper">

    <select id="selectTemplatePage" resultType="com.vibe.system.vo.SysNoticeTemplateVO">
        SELECT id, template_code AS templateCode, template_name AS templateName,
               title_template AS titleTemplate, content_template AS contentTemplate,
               channels, recipient_type AS recipientType, status, create_time AS createTime
        FROM sys_notice_template
        <where>
            deleted = 0
            <if test="query.keyword != null and query.keyword != ''">
                AND (template_code LIKE CONCAT('%', #{query.keyword}, '%')
                  OR template_name LIKE CONCAT('%', #{query.keyword}, '%'))
            </if>
            <if test="query.recipientType != null and query.recipientType != ''">
                AND recipient_type = #{query.recipientType}
            </if>
            <if test="query.status != null">
                AND status = #{query.status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectByTemplateCode" resultType="com.vibe.system.entity.SysNoticeTemplateEntity">
        SELECT id, template_code AS templateCode, template_name AS templateName,
               title_template AS titleTemplate, content_template AS contentTemplate,
               channels, recipient_type AS recipientType, status,
               create_by, create_time, update_by, update_time, deleted
        FROM sys_notice_template
        WHERE template_code = #{templateCode} AND deleted = 0
        LIMIT 1
    </select>

</mapper>
